<p>
  <b>Name:</b>
  <%=h @user.name %><br/>
	<b>Residence ID:</b>
	<%=h @user.residence_id %><br/>
	<b>Roommates:</b>
	<%=h @user.roommates_string %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>