<h1>Editing chore</h1>

<% form_for(@chore) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
	<p>
		People<br />
		<%= @user.name %>
		<%= check_box_tag("chore[user_ids][]", @user.id, @chore.users.include?(@user)) %><br />
		<% @roommates.each do |roommate| %>
			<%= roommate.name %>
			<%= check_box_tag("chore[user_ids][]", roommate.id, @chore.users.include?(roommate)) %><br />
		<% end %>
	</p>
  <p>
    <%= f.label :deadline %><br />
    <%= f.datetime_select :deadline, :start_year => Time.now.year %>
  </p>
  <p>
    <%= f.label :Recurring %>
    <%= f.check_box :is_recurring %>
  </p>
  <p>
    <%= f.label :Rotating %>
    <%= f.check_box :is_rotating %>
  </p>
	<%= f.hidden_field :residence_id, :value => @user.residence.id %>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @chore %> |
<%= link_to 'Back', chores_path %>