<h1>Listing chores</h1>

<%= stylesheet_link_tag "facebox" %>
<script type="text/javascript" src="javascripts/fastinit.js"></script>
<script type="text/javascript" src="javascripts/tablekit.js"></script>
<script type="text/javascript" src="javascripts/jquery.min.js"></script>
<script type="text/javascript" src="javascripts/facebox.js" ></script>
<script type="text/javascript">
	jQuery.noConflict();
	var $j = jQuery;
</script>
<script type="text/javascript">
  jQuery(document).ready(function($) {
    $('a[rel*=facebox]').facebox({
      loading_image : '/images/loading.gif',
      close_image   : '/images/closelabel.gif'
    }) 
  })
</script>

<table class="sortable" cellpadding="5" cellspacing="0">
	<thead>
	  <tr class = "contentHeader">
	    <th class="text">Title</th>
	    <th class="sortfirstasc number">Deadline</th>
			<th class="nosort">People</th>
	    <th class="nosort">Description</th>
	    <th class="nosort">Recurring?</th>
	    <th class="nosort">Rotating?</th>
			<th class="text">Done?</th>
	  </tr>
	</thead>

<tbody>
<% @chores.each do |chore| %>
<!-- onclick="location.href='<%= "/chores/#{chore.id}" %>';" -->
<!-- onclick="showPopWin('<%= "/chores/#{chore.id}" %>', 400, 200, null);" -->
  <tr class = "contentRow"
			onclick="jQuery.facebox({ ajax: '<%= "/chores/#{chore.id}" %>' });" >
    <td><%=h chore.title %></td>
		<% if chore.deadline >= Time.now %>
			<td><span class="hidden"><%=h @dates_in_asc_order.find_index chore.deadline %>x</span><%=h distance_of_time_in_words(Time.now, chore.deadline) + " from now" %>
		<% else %>
			<td bgColor = "#ff9999"><span class="hidden"><%=h @dates_in_asc_order.find_index chore.deadline %>x</span><%=h distance_of_time_in_words(Time.now, chore.deadline) + " ago" %>
		<% end %>
		<td><%=h chore.sorted_users_string %></td>
    <td><%=h chore.description %></td>
    <td><%=h chore.is_recurring ? "Yes" : "No" %></td>
    <td><%=h chore.is_rotating ? "Yes" : "No" %></td>
		<td>
			<% if chore.is_done %>
				<%= image_tag "Checkmark.png", :alt => 'Done!', :size => '30x28' %>
			<% end %>
		</td>
    <!--<td><%= link_to 'Show', chore %></td>
    <td><%= link_to 'Edit', edit_chore_path(chore) %></td>
    <td><%= link_to 'Destroy', chore, :confirm => 'Are you sure?', :method => :delete %></td>-->
  </tr>
<% end %>
</tbody>
</table>

<br />

<%= link_to 'Add a chore', new_chore_path %>