<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
		<head>
		  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
			<link rel="icon" type="image/png" href="images/rails.png" />
		  <title>ROOMMATE APP</title>
			<%= stylesheet_link_tag "basic" %>
      <%= javascript_include_tag "protofish-min","prototype","jquery" %>
			<script type='text/javascript'>
			   document.observe('dom:loaded', function(){
			      new ProtoFish('menu-1', '200', 'hover', false, true, true);
			   });
			</script>
		</head>
    <body>
		<div id="thePage">
        <div id="top">
            <div id="header"> 
                <%= image_tag("blue.jpg", :class => "logo") %> 
                <h1>ROOMMATE APP</h1>
            </div>
            <div id="navBar">
								<ul id='menu-1' class='menu'>
									<li><a href='/'>Home</a></li>
									
									<li><a class='sub' href='#'>Chores</a>
										<ul>
											<li><a href='/chores/new'>Add chore</a></li>
											<li class='last'><a href='/chores'>View chores</a></li>
										</ul>
									</li>
								
									<li><a class='sub' href='#'>Bills</a>
										<ul>
											<li><a href='/bills/new'>Add bill</a></li>
											<li class='last'><a href='/bills'>View bills</a></li>
										</ul>
									</li>
									
								</ul>
            </div>
        </div>
        <div id="middle">
            <div id ="content">
						 		<% [:notice, :info, :error, :alert].each do |key| %>
									<% if flash[key] %>
						   			<div class="<%= key %>" id="flash">
						   			<%= flash[key] %>
						   			</div><br/>
						   		<% end %>
						  	<% end %>
	
                <%= yield -%>
            </div>
        </div>
        <div id="bottom">
            <div id ="aboutUs">
                <ul>
                <li><a href="">aboutUs</a></li>
                <li><a href="">Careers</a></li>
                <li><a href="">Location</a></li>
                </ul>
            </div>
        </div>
		</div>
    </body>
</html>
